{% extends "base.html" %}
{% load static %}
{% block cuerpo %}

<div class="row"> <!--La fila-->
    
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- Columna Izquierda-->
        <h1>Empleado</h1>

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="registrarProveedor/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Codigo Proveedor" minlength="1" maxlength="6" required>
                    </div>

                    <div class="form-group py-3">
                            <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre Proveedor" maxlength="100" required>
                        </div>

                        <div class="form-group py-3">
                            <input type="text" id="txtproductos" name="txtproductos" class="form-control" placeholder="Productos Proveedor" maxlength="100" required>
                        </div>

                        <div class="form-group py-3">
                            <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Direccion Proveedor" maxlength="100" required>
                        </div>

                        <div class="form-group py-3">
                            <input type="text" id="txttelefono" name="txttelefono" class="form-control" placeholder="Telefono Proveedor" maxlength="100" required>
                        </div>

                        <div class="form-group py-3">
                            <input type="text" id="txtfrecuencia" name="txtfrecuencia" class="form-control" placeholder="Frecuencia Proveedor" maxlength="100" required>
                        </div>

                        <div class="form-group py-3">
                            <input type="text" id="txtpagos" name="txtpagos" class="form-control" placeholder="Pagos Proveedor" maxlength="100" required>
                        </div>

                    <div class="form-group py-1">
                        <button type="submit" class="btn btn-dark">Guardar Proveedor</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

    </div> <!-- Columna Izquierda-->

    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- Columna derecha -->
        <h1>Listado de Proveedores</h1>
        <img class="w-50" src="{% static 'img/mascota4.jpg' %}"alt="joselyn" width="100" height="200">
        <!-- La tabla -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Productos</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Frecuencia</th>
                    <th scope="col">Pagos</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for m in misproveedores %}
                    <tr>
                        <td> {{forloop.counter}} </td>
                        <td> {{m.codigo}} </td>
                        <td> {{m.nombre}} </td>
                        <td> {{m.productos}} </td>
                        <td> {{m.direccion}} </td>
                        <td> {{m.telefono}} </td>
                        <td> {{m.frecuencia}} </td>
                        <td> {{m.pagos}} </td>
                        <td><a href="seleccionarProveedor/{{m.codigo}}" class="btn btn-secondary">Editar</a></td> <!-- Falta -->
                        <td><a href="borrarProveedor/{{m.codigo}}" class="btn btn-dark">Borrar</a></td> 
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    <!-- La tabla -->
    </div> <!-- Columna derecha -->

</div> <!--La fila-->
{% endblock %}
